{% extends 'beneficiary/base-beneficiary.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style-beneficiary.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

{% endblock %}

{% block main %}
<div class="container">
    <h1>Submit Assistance Request</h1>
<form method="POST">
    {% csrf_token %}
    {{ request_form.as_p }}

    
    {{ type_form.as_p }}

    
    {{ image_form.as_p }}

    <button type="submit">Submit</button>
</form>

</div>
{% endblock %}
