{% extends 'admin/base-db-admin.html' %}
{% load static %}
        
        {% block main %}
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card text-center">
                        <div class="card-header pt-5 bg-primary text-white">
                            <div>
                                <h3> Total Charity Organization</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa fa-list fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">10</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="#!" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-success text-white pt-5" >
                            <div>
                                <h3>Total Volunteers</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa fa-snowflake fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">100</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="{% url 'total_volunteer' %}" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-danger text-white pt-5">
                            <div>
                                <h3>Total Events</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa fa-arrows fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">15</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="#!" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <div class="card text-center ">
                        <div class="card-header bg-secondary text-white pt-5">
                            <div>
                                <h3>Total Assistance 
                                    Request</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa fa-exchange fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">15</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="#!" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="card text-center">
                        <div class="card-header pt-5 bg-secondary text-white">
                            <div>
                                <h3>Total Accepted Assistance Request</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa-solid fa-bahai fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">05</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a  href="{% url 'accepted_assistance_request' %}" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="card text-center ">
                        <div class="card-header bg-danger text-white pt-5" >
                            <div>
                                <h3>Total Accepted Events</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa-solid fa-bars-progress fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">08</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="#!" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="card text-center ">
                        <div class="card-header bg-success text-white pt-5">
                            <div>
                                <h3>Total Completed Events</h3>
                                <hr>
                            </div>
                            <div class="row align-items-center pt-3">
                                <div class="col">
                                    <i class="fa-solid fa-asterisk fa-3x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="display-3">08</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h4>
                                <a href="#!" class="text-primary">View Details</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock main %}

           
         

