{% extends 'admin/base-db-admin.html' %}

{% load static %}

{% block main %}
<style>
    .scrollable-container {
        max-height: 100vh; 
        overflow-y: auto; 
        overflow-x: hidden; 
        width: 100%; 
    }
</style>
    
<div class="container p-4 scrollable-container">
    <h2 class="text-center font-weight-bold">Status Updated Assistance Request Details</h2>
    <div class="card p-3 mt-3">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/poor kids.jpg' %}" class="img-fluid" alt="Assistance Image">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/poor kids.jpg' %}" class="img-fluid" alt="Assistance Image">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/poor kids.jpg' %}" class="img-fluid" alt="Assistance Image">
            </div>
            
        </div>
        <p><strong>Reason for support:</strong> Em bé 8 tuổi mắc bệnh hiểm, gia đình nghèo</p>
        <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <hr>
        <div class="row">
            
            <div class="col-md-6">
                <p><strong>Type of support:</strong> Healthcare</p>
                <p><strong>Priority level:</strong> Normal</p>
                <p><strong>Location:</strong> G. P. O., Asafoatse Nettey Road, Accra...</p>
                <p><strong>Desired support time:</strong> May 12, 2020 – June 12, 2020</p>
                <p><strong>Verification documents:</strong> <a href="#">file1.pdf</a>, <a href="#">file2.pdf</a></p>
            </div>
        
            
            <div class="col-md-6">
                <p><strong>Representative:</strong> Phuc Ngo</p>
                <p><strong>Del:</strong> 0909090909</p>
                <p><strong>Receiving condition:</strong> Waiting</p>
                <p><strong>Status:</strong> <span style="color: #0BDB5E; font-weight: bold;">Accepted</span> / <span style="color: #f10808; font-weight: bold;">Rejected</span></p>
            </div>
        </div>
        <div class="form-group">
            <label for="admin_remark"><strong>Admin remark:</strong></label>
            <textarea id="admin_remark" class="form-control" rows="3" >Admin Remark for this request, explain reasons if reject</textarea>
        </div>     
    </div>
</div>
{% endblock main %}
