{% extends 'admin/base-db-admin.html' %}
{% load static %}

{% block main %}
<div class="container" style="overflow-y: auto; max-height: 100vh; padding-bottom: 20px;">
    <h2 class="text-center">Volunteer Management</h2>
    <hr>

    <h3 class="text-primary">
        <span style="color: #3B78F3; font-weight: bold">Top 3</span>
        <span style="color: #000000; ">most active volunteers</span>
    </h3>
    <div class="row">
        {% for v in top_all_time|slice:":3" %}
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        {% if forloop.counter == 1 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #FFF0D3; color: #F99C05 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #F99C05;">First place</h5>
                        {% elif forloop.counter == 2 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #DEDEDE; color: #8D8B88 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #8D8B88;">Second place</h5>
                        {% else %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #EFCA84; color: #A15600 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #A15600;">Third place</h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <img src="{{ v.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                        <div class="ms-2">
                            <p class="fw-bold mb-0">{{ v.name }}</p>
                            <p class="text-muted mb-0">{{ v.username }} #{{ v.user_id }}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <div class="text-center">
                            <p class="mb-0"
                                style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %} !important; font-weight: bold; font-size: 2rem;">
                                {{ v.total_events }}
                            </p>
                            <p class="text-muted mb-0">Completed events</p>
                        </div>
                        <div class="text-center">
                            <p class="mb-0"
                                style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %} !important; font-weight: bold; font-size: 2rem;">
                                {{ v.total_hours }}
                            </p>
                            <p class="text-muted mb-0">Total hours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No data for top volunteers yet.</p>
        {% endfor %}
    </div>

    <h3 class="text-primary mt-5">
        <span style="color: #3B78F3; font-weight: bold">Top 3</span>
        <span style="color: #000000; ">monthly active volunteers</span>
    </h3>
    <div class="row">
        {% for v in top_month|slice:":3" %}
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        {% if forloop.counter == 1 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #FFF0D3; color: #F99C05 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #F99C05;">First place</h5>
                        {% elif forloop.counter == 2 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #DEDEDE; color: #8D8B88 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #8D8B88;">Second place</h5>
                        {% else %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #EFCA84; color: #A15600 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #A15600;">Third place</h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <img src="{{ v.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                        <div class="ms-2">
                            <p class="fw-bold mb-0">{{ v.name }}</p>
                            <p class="text-muted mb-0">{{ v.username }} #{{ v.user_id }}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <div class="text-center">
                            <p class="mb-0"
                                style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %} !important; font-weight: bold; font-size: 2rem;">
                                {{ v.total_events }}
                            </p>
                            <p class="text-muted mb-0">Completed events</p>
                        </div>
                        <div class="text-center">
                            <p class="mb-0"
                                style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %} !important; font-weight: bold; font-size: 2rem;">
                                {{ v.total_hours }}
                            </p>
                            <p class="text-muted mb-0">Total hours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No data for monthly top volunteers yet.</p>
        {% endfor %}
    </div>
    <br>
    <form method="get" class="mb-3 d-flex justify-content-end">
        <input type="text" name="search" class="form-control me-2 w-25" placeholder="Search by name..." value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table table-bordered text-center mt-5">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Full Name</th>
                <th>User name</th>
                <th>Status</th>
                <th>Event</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            {% for v in volunteer_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <img src="{{ v.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                </td>
                <td>
                    <a href="{% url 'admin_volunteer_detail' pk=v.pk %}" class="text-primary">{{ v.full_name }}</a>
                </td>
                <td>{{ v.username }}</td>
                <td>
                    <span class="badge {% if v.status == 'Active' %}bg-success{% else %}bg-secondary{% endif %}">
                        {{ v.status }}
                    </span>
                </td>
                <td>{{ v.event_name|default:"--" }}</td>
                <td>{{ v.org_name|default:"--" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No volunteers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}