{% extends 'admin/base-db-admin.html' %}
{% load static %}

{% block main %}
<div class="container" style="overflow-y: auto; max-height: 100vh; padding-bottom: 20px;">
    <h2 class="text-center">Charity Organization Management</h2>
    <hr>

    <h3 class="text-primary">
        <span style="color: #3B78F3; font-weight: bold">Top 3</span>
        <span style="color: #000000;">most active charity orgs of all time</span>
    </h3>
    <div class="row">
        {% for c in top_all_time %}
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        {% if forloop.counter == 1 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #FFF0D3; color: #F99C05 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #F99C05;">First place</h5>
                        {% elif forloop.counter == 2 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #DEDEDE; color: #8D8B88 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #8D8B88;">Second place</h5>
                        {% else %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #EFCA84; color: #A15600 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #A15600;">Third place</h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <img src="{{ c.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                        <div class="ms-2">
                            <p class="fw-bold mb-0">{{ c.name }}</p>
                            <p class="text-muted mb-0">{{ c.username }} #{{ c.user_id }}</p>
                        </div>
                    </div>
                    <div class="mt-2 text-center">
                        <p class="mb-0"
                            style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %}; font-weight: bold; font-size: 2rem;">
                            {{ c.total_events }}
                        </p>
                        <p class="text-muted mb-0">Completed events</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No data for top organizations yet.</p>
        {% endfor %}
    </div>

    <h3 class="text-primary mt-5">
        <span style="color: #3B78F3; font-weight: bold">Top 3</span>
        <span style="color: #000000;">most active this month</span>
    </h3>
    <div class="row">
        {% for c in top_month %}
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        {% if forloop.counter == 1 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #FFF0D3; color: #F99C05 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #F99C05;">First place</h5>
                        {% elif forloop.counter == 2 %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #DEDEDE; color: #8D8B88 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #8D8B88;">Second place</h5>
                        {% else %}
                        <span class="badge rounded-circle me-2 p-2"
                            style="background-color: #EFCA84; color: #A15600 !important; font-weight: bold;font-size: 1.2rem;">
                            #{{ forloop.counter }}
                        </span>
                        <h5 class="fw-bold mb-0" style="color: #A15600;">Third place</h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <img src="{{ c.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                        <div class="ms-2">
                            <p class="fw-bold mb-0">{{ c.name }}</p>
                            <p class="text-muted mb-0">{{ c.username }} #{{ c.user_id }}</p>
                        </div>
                    </div>
                    <div class="mt-2 text-center">
                        <p class="mb-0"
                            style="color: {% if forloop.counter == 1 %}#F99C05{% elif forloop.counter == 2 %}#8D8B88{% else %}#A15600{% endif %}; font-weight: bold; font-size: 2rem;">
                            {{ c.total_events }}
                        </p>
                        <p class="text-muted mb-0">Completed events</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No data for this month's organizations.</p>
        {% endfor %}
    </div>

    <table class="table table-bordered text-center mt-5">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Organization Name</th>
                <th>Username</th>
                <th>Completed Events</th>
            </tr>
        </thead>
        <tbody>
            {% for c in charity_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <img src="{{ c.avatar_url }}" width="80" class="rounded-circle me-3" alt="Avatar">
                </td>
                <td>
                    <a href="{% url 'admin_charity_org_detail' pk=c.pk %}" class="text-primary">{{ c.name }}</a>
                </td>
                <td>{{ c.username }}</td>
                <td>{{ c.total_completed_events }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No charity organizations found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
