{% extends 'base-db-admin.html' %}
{% load static %}

{% block main %}
<div class="container p-4">
    <h2 class="text-center font-weight-bold">Rejected Assistance Request</h2>
    <div class="card p-3 mt-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <label>Show 
                <select class="form-select d-inline w-auto" id="entriesSelect">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select> entries
            </label>
            <input type="text" id="searchInput" class="form-control w-auto" placeholder="Search">
        </div>
        
        <table class="table table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Request</th>
                    <th>Type</th>
                    <th>Representative</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="{% static 'images/poor kids.jpg' %}" class="img-thumbnail" width="100"></td>
                    <td>Household items</td>
                    <td>Phuc Ngo</td>
                    <td>0909090909</td>
                    <td>Rejected</td>
                    <td><a href="{%url 'status_updated_request_detail'%}" class="text-primary">View detail</a></td>
                </tr>
               
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <p>Showing 2 of 100 entries</p>
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock main %}
